body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.jumbotron {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    margin-bottom: 0px;
}

a {
    cursor: pointer;
}

.reg-btn {
    padding: 10px;
}

.pd-tp {
    padding-top: 30px;
}

.mg-r-15 {
    margin-right: 15px;
}

.mg-l-10 {
    margin-left: 10px;
}

.topic {
    border-bottom: 1px solid #e1e1e8;
    margin-bottom: 25px;
    padding-bottom: 10px;
}

.topic:last-of-type {
    border-bottom: none;
    margin-bottom: 50px;
}

.load-more {
    padding: 9px 14px;
    margin-bottom: 14px;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
    cursor: pointer;
}

.load-more:hover {
    background-color: #f7f7f9;
}

.comment-content {
    font-size: 14px;
}

.error, .ng-dirty.ng-invalid {
    border-color: red !important;
}

.frmalert {
    color: red;
}

.frmalert p {
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 0px;
}

.ng-valid {
    border-color: #5cb85c;
}

.ignore.ng-pristine, .ignore.ng-empty.ng-valid-pattern, .new-comment, .new-comment.ng-empty, .edit-comment, .edit-comment.ng-empty {
    border-color: #ccc !important;
}
