body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.jumbotron {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    margin-bottom: 0px;
}

a {
    cursor: pointer;
}

/*.active {
    color: red;
    font-weight: bold;
}*/

.reg-btn {
    padding: 10px;
}

.pd-tp {
    padding-top: 30px;
}
