<div class="jumbotron" ng-show="!userAuth">
    <div class="container">

        <div class="col-md-6" ng-class="{'hidden-xs': checkPath('/register')}">
            <h1>WebTopic.com</h1>
            <p>This application is a little lab project.</p>
            <span>Thank you so much for Bootstrap, AngularJS, NodeJs, Express, MongoDB, Mongoose, Gulp, uiRouter, Bower, Git and so on.</span>
        </div>

        <div class="col-md-6" ng-class="{'hidden-xs': checkPath('/')}">
            <form class="form-horizontal" id="regis-frm" ng-submit="resigter()">
                <h2 class="text-right">Register Form</h2>
                <div class="form-group">
                    <label for="input1" class="col-sm-4 control-label">Name</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control smbt-6" id="input1" placeholder="Name" ng-model="user.name" required>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" placeholder="Last name" ng-model="user.lastname" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="input2" class="col-sm-4 control-label">Email</label>
                    <div class="col-sm-8">
                        <input type="email" class="form-control" id="input2" placeholder="Email" ng-model="user.email" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="input3" class="col-sm-4 control-label">Password</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" id="input3" placeholder="Password" ng-model="user.password" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="input4" class="col-sm-4 control-label">Tel</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="input4" placeholder="Tel" ng-model="user.tel">
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default pull-right mg-r-15">Register</button>
                </div>
            </form>
        </div>

        <div class="clearfix"></div>
        <error-alert></error-alert>

    </div>
</div>
